/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid rgba(204, 204, 204, 0.479);
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100vw;
  justify-content: space-around;
  z-index: 2000;
  display: flex;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #e7e1fb;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #e7e1fb;
}

.active i {
  color: #5e2ced;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;
  border-top: none;*/
  width: 100%;
  height: 100%;
  padding-bottom: 2em;
}

ion-icon {
  color: pink;
}

/*Styling the reports Form*/

input[type="file"] {
  border: 0;
  box-shadow: none;
  background: 0 0;
  margin-top: -5px;
  font: 300 15px/26px "Quicksand", sans-serif;
  color: #9ca3b9;
  display: block;
  width: 100%;
}

.text_box textarea {
  font: 400 15px/60px "Poppins", sans-serif;
  color: #222d39;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
}
.text_box textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#report_condition {
  width: 170px;
}

select {
  font: 400 15px/60px "Quicksand", sans-serif;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select:focus {
  box-shadow: 0 10px 14px 0 rgba(12, 0, 46, 0.06);
  border-color: #f2effc;
  outline: 0;
}

.collapsed {
  background-color: rgba(204, 204, 204, 0) !important;
}

.btn-link {
  background-color: #ccc;
}

.status {
  margin: auto 0;
  color: #fff;
  background: #f7c100;
  padding: 5px 0.5em;
  border-radius: 0.5em;
}

.card {
  background: #fff;
}

.card-header {
  display: flex;
  background-color: #fff;
}

.report-heading {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.resolved {
  background: #00c99b;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .tab {
    bottom: auto;
    width: auto;
    margin: auto;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  .body {
    padding: 10vw !important;
  }
  .appname {
    margin-left: 10vw !important;
  }
}

input[type="submit"]:disabled {
  background: #d1d1d1;
  color: #6d6a8b;
}

#loader {
  animation: rotate 3s infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.5, 1);
}

.show {
  display: block;
}

.hide {
  display: none;
}
