{% extends 'base.html' %} {% load static %} {% block body %}
<style>
  .main {
    text-align: center;
  }
  img {
    height: 45vh;
    margin: 2em;
    max-width: 80vw;
  }
  h1 {
    font-size: 200px;
    font-weight: 600;
  }
</style>

<div style="text-align: center; padding: 23vh 10vw!important;" class="body">
  
<div id="f404" class="tabcontent" style="display: block;">
    <img style="height: 30vh" src="{% static 'images/404-alien.svg' %}">
    </div>
  <h3 style="color:#5e2ced">Oops!</h3>
  <h6>Something went wrong while processing your request!</h6>
  <a href="{% url 'users' %}"><button class="primary"> Go to home </button></a>

</div>
{% endblock body %}
