{% extends 'base.html' %}
{% load static %}
{% load app_filters %}
{% block title%}PostLogin{% endblock title %}

{% block css %}
{% endblock css %}
{% block body%}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70vh;
        border-radius: 25px;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: #fff;
      }
      .container {
        max-width: 95vw;
      }
      .table {
        padding: 0 20px;
      }
      .navbar {
        margin-bottom: 30px;
      }
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 60%;
      }

      /* The Close Button */
      .close {
        margin-left: auto;
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
      .modal-container {
        text-align: center;
      }
      #details {
        text-align: left;
      }
      td {
        cursor: pointer;
      }
      
.collapsed {
  background-color: rgba(204, 204, 204, 0) !important;
}

.btn-link {
  background-color: #ccc;
}

.status {
  margin: auto 0;
  color: #fff;
  background: #f7c100;
  padding: 5px 0.5em;
  border-radius: 0.5em;
}

.card {
  background: #fff;
}

.card-header {
  display: flex;
  background-color: #fff;
}

.report-heading {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.resolved {
  background: #00c99b;
}

.body {
  padding: 12vh 0!important;
}


@media only screen and (max-width: 768px) {

#map {
    display:none;
}

}


@media only screen and (min-width: 768px) {

.table {
    max-height: 75vh;
    overflow-y: scroll;
}

body {
    overflow-y:hidden;
}

}

    </style>
   <div class="body" >
    <h1 style="margin-left: 30px"> Reports </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-7" id="map"></div>
        <div class="table col-sm-5">
          
          <div id="empty" style="text-align: center;
    margin: 25vh 0;">No reports near you.</div>
  <div class="accordion" id="accordionExample">
  </div>
  <!---
          <table class="table table-bordered" id="my-table">
            <thead>
              <tr>
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">Medicine</th>
                <th onclick="sortTable(2)">Gender</th>
                <th onclick="sortTable(3)">Area</th>
                <th>Contact</th>
                <th>Notify</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for medicine in medicines %}
              <tr>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'name'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'medicine'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'gender'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'area'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'contact'}}
                </td>
                <td>
                <a href="{% url 'notify' id=medicine|get_item:'id' %}"><button type="submit" class="btn btn-success" >Send Email</button></a>
              </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          -->
        </div>
      </div>
</div>
      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="modal-container">
            
          <span class="close">&times;</span>
          
          <h1> Details </h1>
          <div class="row">
            <div class="col-md-1"></div>
            <div id="details" class="col-md-5"></div>
            <div class="col-md-5"><img id="presc"  alt=""></div>
            <div class="col-md-1"></div>

          </div>
          </div>
        </div>
      </div>
    </div>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo5q4Yv_NCM-Px_c11zyi9zttxj47-MFw&libraries=places&callback=initMap"
    ></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
    <script>
        var lat, lon;
      getLocation();
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
          navigator.geolocation.getCurrentPosition(initMap);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
    function showPosition(position) {
        window.lat = position.coords.latitude;
        window.lon = position.coords.longitude;
        //console.log(position.coords.latitude, position.coords.longitude);
    }   
 


    console.log(lat, lon);
      var map;
      function initMap() {
      getLocation();
        console.log(window.lat, window.lon)
        //console.log(position.coords.latitude);
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 13,
          center: { lat: window.lat, lng: window.lon },
          streetViewControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          styles: [
            {
              "featureType": "road.arterial",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.local",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            }
          ],
        });

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function (location, i) {
          return new google.maps.Marker({
            position: location,
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, {
          imagePath:
            "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
        });
      }
      var locations = [
      {% for co in co_list %}
      {lat: {{ co.0 }} , lng: {{ co.1 }} },
      {% endfor %}
      ];
      console.log(
      {% for co in co_list %}
      {{ co.0 }},{{ co.1 }},
      {% endfor %})
      function isInRadius(lat1, lon1, lat2, lon2) {
	if ((lat1 == lat2) && (lon1 == lon2)) {
		dist= 0;
	}
	else {
		var radlat1 = Math.PI * lat1/180;
		var radlat2 = Math.PI * lat2/180;
		var theta = lon1-lon2;
		var radtheta = Math.PI * theta/180;
		var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
		if (dist > 1) {
			dist = 1;
		}
		dist = Math.acos(dist);
		dist = dist * 180/Math.PI;
		dist = dist * 60 * 1.1515;
		dist = dist * 1.609344;
        //console.log(dist);
        //console.log(lat1, lon1, lat2, lon2);
	}
        console.log(dist);
		if(dist<=10) {
            return true;
        }
        else
            return false;
}

function getReports() {
    var count = 0;
    var parent = document.getElementById("accordionExample");
    var emp = document.getElementById("empty");
    {% for med in reports %}
    {% if med|get_item:'location' %}

    console.log("{{ med|get_item:'case' }}");
    var lat2 =  parseFloat({{med|get_co:'lat'}});
    var lon2 = parseFloat({{med|get_co:'lon'}});
    //console.log(isInRadius(lat, lon, lat2, lon2));
    //console.log("{{med|get_item:'address'}} {{med|get_item:'area'}}'");
    if(isInRadius(lat, lon, lat2, lon2)) {
    emp.style.display = "none";
        parent.innerHTML += `<div class="card" style="text-transform: capitalize">
      <div class="card-header" id="headingOne">
          <div class="report-heading">
            {{ med|get_item:'case' }}
          </div>          
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{med|get_item:'id'}}" aria-expanded="false" aria-controls="a{{med|get_item:'id'}}">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </button>

      </div>
  
      <div id="a{{med|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        {% for key, value in med.items %}
        {% if key != 'id' and key != 'description' and key != 'location' and key != 'url' and key != 'uId'%}
        <div><b>{{key}}:</b> {{value}}</div>
        {% endif %}
        {% endfor %}  
        {% if med|get_item:'description' %}
        {{ med|get_item:'description' }}
        {% else %}
        No description provided.
        {% endif %}  
        <div>
                <a style="margin:auto;" href="{% url 'resolve' id=med|get_item:'id' %}"><button style="margin:auto;" type="submit" class="btn btn-success" >Mark as resolved</button></a>
        </div>
        </div>`
    }
    {% else %}
    count+=1;
    {% endif %}
    {% endfor %}
    if(count!=0) 
    parent.innerHTML += '<h3 style="margin-top: 10px;">Reports without location</h3>';
    {% for med in reports %}
    {% if med|get_item:'location' == None %}
    emp.style.display = "none";

        parent.innerHTML += `<div class="card" style="text-transform: capitalize">
      <div class="card-header" id="headingOne">
          <div class="report-heading">
            {{ med|get_item:'case' }}
          </div>          
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{med|get_item:'id'}}" aria-expanded="false" aria-controls="a{{med|get_item:'id'}}">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </button>

      </div>
  
      <div id="a{{med|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        {% for key, value in med.items %}
        {% if key != 'id' and key != 'description' and key != 'location' and key != 'url' and key != 'uId'%}
        <div><b>{{key}}:</b> {{value}}</div>
        {% endif %}
        {% endfor %}  
        {% if med|get_item:'description' %}
        {{ med|get_item:'description' }}
        {% else %}
        No description provided.
        {% endif %}  
        <div>
                <a style="margin:auto;" href="{% url 'resolve' id=med|get_item:'id' %}"><button style="margin:auto;" type="submit" class="btn btn-success" >Mark as resolved</button></a>
        </div>
        </div>`
  
    {% endif %}
    {% endfor %}
}

    </script>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


    </script>
  </body>
</html>
{% endblock body%}