{% extends 'base.html' %}

{% block title%}Report Condition{% endblock title %}
    
{% block body%}
<style>
  input[type="radio"]{
    box-sizing: border-box;
    padding: 0;
    display: block;
}
  

  input[type="submit"]{
    border:0;
    cursor: pointer;
    background: #EF716B;
    border-radius: 35px;
    width: 160px;
    height: 40px;
    left: 80px;
    top: 400px;
    padding-left:10px;
    padding-right:10px;
    color:white;
  }
  input[type="submit"]:hover{
   transition: .6s;
  }
  .form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: -1.25rem;
  }

 

</style>
<div class="form-wrap">
    <form  action="" method='POST' id="report">
      {% csrf_token %}
      <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
      <h1>Report Condition</h1>
      <div class="form-row my-3" >
        <div class="form-group col-md-6">
          <label for="case" >Case</label>
          <select name="case" id="case">
            <option value="Accident">Accident</option>
            <option value="pregnancy">Pregnancy</option>
            <option value="terminal illness">Terminal Illness</option>
            <option value="post operation">Post Opertion</option>
            <option value="accident recovery">Accident Recovery</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="condition" >Condition</label>
          <select name="condition" id="condition">
            <option value="critical">Critical</option>
            <option value="urgent">Urgent</option>
            <option value="informing">Informing</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="medicine" >Medicine</label>
          <input required type="text" class="form-control" id="medicine" name="medicine" placeholder="Medicine">
        </div>
      
        <div class="form-group col-md-4">
          <label for="doctor" >Doctor</label>
          <input required type="text" class="form-control" id="doctor" name="doctor" placeholder="Name of Doctor">
        </div>
      
        <div class="form-group col-md-4">
          <label for="hospital" >Name of hosptial/clinic</label>
          <input required type="text" class="form-control" id="hospital" name="hospital" placeholder="Name of Hospital">
        </div>
      </div>
      <div class="form-group row">
        <label for="info" class="col-sm-2 col-form-label">Description</label>
        <br>
        <div class="col-sm-10">
        <textarea rows="4" cols="72" name="info" form="report"></textarea>
        </div>
      </div>   

      <div class="row">
        <div class="form-group col-md-6">
              <label for="address" >Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
        </div>
      
        <div class="form-group col-md-6">
          <label for="area" >Area</label>
          <input required type="text" class="form-control" id="area" name="area" placeholder="Area">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
            <label for="contact" >Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Details">
        </div>
        <div class="form-group col-md-4">
          <label for="age" >Age</label>
          <input type="number" class="form-control" id="age" name="age" placeholder="Age">
        </div>
        <div class="form-group col-md-4">
          <label for="gender">Gender</label>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="male" name="gender" value="male" />
            <label for="male"  class="form-check-label" >Male</label>
          </div>
          <div class="form-check">
            <input type="radio" class="form-check-input" id="female" name="gender" value="female" />
            <label for="female"  class="form-check-label" >Female</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="treatment" class="col-sm-2 col-form-label">Treatment</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="treatment" name="treatment" placeholder="Any kind of Special Treatment">
        </div>
      </div>   
      <!--<div class="form-group">
       <input type="hidden" id="lat" name="lat">
        <input type="hidden" id="lon" name="lon">
      </div>
      -->
    
      <div style="text-align:center">
      <input type="submit" value="Report Condition">
      </div>
      </div>
      <div class="col-md-2"></div>
      </div>
      </form>
    </div>
    <!--
    <script>
       
      var lat = document.getElementById("lat");
      var lon = document.getElementById("lon");
      getLocation()
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
      function showPosition(position) {
        lat.value = position.coords.latitude;
        lon.value = position.coords.longitude;
        console.log(position.coords.latitude, position.coords.longitude);
      }
              
    </script>
    -->
{% endblock body %}