{% extends 'base.html' %}

{% block title%}Signup{% endblock title %}<div class="modal-body">
    
    {% block body%}

    <div class="elementor-widget-wrap">
        <section class="sign_in">
        <div class="container">
            <div class="sign_info">
                <div class="row">
                    <div class='col-lg-7'>
                        <h2 class="heading" style="font-size:30px;">Welcome back!</h2>
                        <div class="form-wrap">
                            <form  action="" method='POST'>
                            {% csrf_token %}
                                <div required class="form-group text_box">
                                    <label for="email" class="form-data">Email</label>
                                    <input required type="email" class="form-control" id="email" name="email" placeholder="trana@gmail.com">
                                </div>
                                <div required class="form-group text_box">
                                    <label for="password" class="form-data">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="******">
                                </div>
                                <input required type="submit" value="Login"/>
                                <a href="{% url 'reset' %}">
                Forgot Password
                </a>
                            </form>
                            <div class="new_account">Don't have an account?                                    <a class="signup-link" href="{% url 'signup' %}">
                                            <a href="{% url 'signup' %}">
                <button class="secondary">
                Get started
                </button>
                </a>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-5'>
                        <div class="img-login"  style="background-image: url(../static/images/login.png);">
                         
                    </div>   
                </div>
                
            </div> 
            
        </div>
    </section>
    </div>
    {% endblock body %}
   