{% extends 'base.html' %}

{% block title%}Signup{% endblock title %}<div class="modal-body">
    
    {% block body%}
    <style>
        html,
        body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
        
      .elementor-widget-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            background: #fbfbfd;
            
        }
        .sign_in{
            height:100%;
            padding:120px 0;
        }
        .container {
            max-width: 1200px;
            box-sizing: border-box;
            height: 100%;
        }
        .sign_info {
            border: 20px solid #fff;
            background: #fbfbfd;
            padding: 1em;
            margin-bottom: 25px;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            height:100%;
        }
        .heading{
            margin-bottom: 40px;
            color: #222d39;
            padding-left:30px;
            font-weight: 600;
            font-size: 24px;
            font-family: 'Quicksand', sans-serif;
        }
        .form-wrap{
            padding-left:0px;
        }
        .text_box{
            margin-bottom: 25px;
        }
        .form-data{
            color: #161341;
            font-size: 14px;
            margin-bottom: 15px;
            font-weight: 500;
            font-family: 'Quicksand', sans-serif;
        }
        input[type="email"],input[type="password"]{
            font: 400 15px/60px "Quicksand", sans-serif;
            color: #222d39;
            height: 60px;
            border-radius: 4px;
            background-color: white;
            box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
            width: 100%;
            border: 1px solid #fff;
            padding-left: 30px;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        input[type="submit"]{
            font: 500 14px "Quicksand", sans-serif;
            background: #5e2ced;
            color: #fff;
            padding: 15px 30px;
            border: none;
            border-radius: 0.5em;
        }
        .img-login{
            width:auto;
            height:400px;
            background-image:url(../static/images/login.svg);
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        .new_account{
        font: 400 15px/26px "Poppins", sans-serif;
        color: #9ca3b9;
        margin-top:20px;
        }

        a{
        box-shadow: none;
        text-decoration: none;
        }
        .signup-link{
        color: #5e2ced;
        display: inline-block;
        margin-left: 6px;
        }
    </style>
    <div class="elementor-widget-wrap">
        <section class="sign_in">
        <div class="container">
            <div class="sign_info">
                <div class="row">
                    <div class='col-lg-7'>
                        <h2 class="heading" style="font-size:30px;">Welcome back!</h2>
                        <div class="form-wrap">
                            <form  action="" method='POST'>
                            {% csrf_token %}
                                <div required class="form-group text_box">
                                    <label for="email" class="form-data">Email</label>
                                    <input required type="email" class="form-control" id="email" name="email" placeholder="trana@gmail.com">
                                </div>
                                <div required class="form-group text_box">
                                    <label for="password" class="form-data">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="******">
                                </div>
                                <input required type="submit" value="Login"/>
                                <div class="new_account">Don't have an account?                                    <a class="signup-link" href="{% url 'signup' %}">
                                            <a href="{% url 'signup' %}">
                <button class="secondary">
                Get started
                </button>
                </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class='col-lg-5'>
                        <div class="img-login">
                    </div>   
                </div>
                
            </div> 
            
        </div>
    </section>
    </div>
    {% endblock body %}
   