{% extends 'base.html' %}
{% load app_filters %}
{% block title%}PostLogin{% endblock title %}

{% block body%}

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 70vh;
        border-radius: 25px;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .container {
        max-width: 95vw;
      }
      .table {
        padding: 20px;
      }
      .navbar {
        margin-bottom: 30px;
      }
      .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
      }

      /* Modal Content */
      .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
      }

      /* The Close Button */
      .close {
        margin-left: auto;
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    </style>
 
   
    <h1> Medicines </h1>
    <div class="container">
      <div class="row">
        <div class="col-sm-4" id="map"></div>
        <div class="table col-sm-8">
          <input
            class="form-control"
            id="myInput"
            type="text"
            placeholder="Search.."
          />
          <br />
          <table class="table table-bordered" id="my-table">
            <thead>
              <tr>
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">Condition</th>
                <th onclick="sortTable(2)">Case</th>
                <th onclick="sortTable(3)">Area</th>
                <th>Contact</th>
                <th>Notify</th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for medicine in medicines %}
              <tr>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'address'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'condition'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'case'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'medicine'}}
                </td>
                <td onclick="showDetails({{medicine| get_item:'id'}})">
                  {{medicine| get_item:'contact'}}
                </td>
                <td>
                <a href="{% url 'notify' id=medicine|get_item:'id' %}"><button type="submit" class="btn btn-success" >Send Email</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p id="modalContent">Some text in the Modal..</p>
        </div>
      </div>
    </div>
    <script>
      getLocation()
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(initMap);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
              
      var map;
      function initMap(position) {
        console.log(position.coords.latitude);
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 9,
          center: { lat: position.coords.latitude, lng: position.coords.longitude },
          streetViewControl: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          styles: [
            {
              "featureType": "road.arterial",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.highway",
              "elementType": "labels",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            },
            {
              "featureType": "road.local",
              "stylers": [
                {
                  "visibility": "off"
                }
              ]
            }
          ],
        });

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var markers = locations.map(function (location, i) {
          return new google.maps.Marker({
            position: location,
          });
        });

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers, {
          imagePath:
            "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m",
        });
      }
      var locations = [
      {% for co in co_list %}
      {lat: {{ co.0 }} , lng: {{ co.1 }} },
      {% endfor %}
      ];
    </script>
    <script
      async
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo5q4Yv_NCM-Px_c11zyi9zttxj47-MFw&libraries=places&callback=initMap"
    ></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>

    <script>
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });

      function sortTable(n) {
        var table,
          rows,
          switching,
          i,
          x,
          y,
          shouldSwitch,
          dir,
          switchcount = 0;
        table = document.getElementById("my-table");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
          //start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /*Loop through all table rows (except the
          first, which contains table headers):*/
          for (i = 1; i < rows.length - 1; i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount++;
          } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
    <script>
      // Get the modal
      var modal = document.getElementById("myModal");

      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }


      function showDetails(id) {
        console.log("hi");
        modal.style.display = "block";
        var p = document.getElementById("modalContent");
        p.innerHTML = ""
        {% for medicine in medicines %}
          if (parseInt("{{medicine | get_item:'id' }}") == id)
          {
            {% for key, value in medicine.items %}
            //console.log("{{key}},{{value}}");
            p.innerHTML += "{{key}},{{value}} <br>"
            {% endfor %}
          }
        {% endfor %}
      }
    </script>
  </body>
</html>
{% endblock body%}