{% extends 'base.html' %}

{% block title%}Signup{% endblock title %}<div class="modal-body">
    
    {% block body%}
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .form-wrap{
        margin-top:20px;
        width:340px;
        height:480px;
        padding:40px 20px;
        box-sizing: border-box;
        position: fixed;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size:20px;
        font-family: Circular Std;
        font-style: normal;
        font-weight: bold;    
        color:#4B7FFB;
        border:2px solid  #FFB167;;
      }

      input[type="text"],input[type="email"],input[type="password"],input[type="button"]{
        width:100%;
        background: none;
        border-radius: 3px;
        padding: 6px 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
       
      }
      input[type="radio"]{
        -webkit-appearance: none;
        position: relative;
        cursor: pointer;
        display: inline-block;
        border-radius:60%;
        height:20px;
        width:20px;
        outline:none;
        margin-left: 10px;
        margin-top:10px;
        
       
      }
      
      

      input[type="submit"]{
        border:0;
        cursor: pointer;
        background: #EF716B;
        border-radius: 35px;
        position: absolute;
        width: 145px;
        height: 40px;
        left: 80px;
        top: 400px;
      }
      input[type="submit"]:hover{
       transition: .6s;
      }

    </style>

   
    <div class="form-wrap">
    <form  action="{% url 'signup' %}" method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
      </div>
      <div class="form-group ">
        <input type="radio" class="form-control" id="authority" name="position" value="authority" />
        <label for="authority" >Authority</label>
        <input type="radio" class="form-control" id="pharmacist" name="position" value="pharmacist" />
        <label for="pharmacist">Pharmacist</label>
        <input type="radio" class="form-control" id="user" name="position" value="user" />
        <label for="user">User</label>
      </div>
        <input type="submit" value="Login" />
         
    </form>
    </div>
   
    {% endblock body%}