{% extends 'base.html' %}

{% block title%}Signup{% endblock title %}<div class="modal-body">
    
    {% block body%}
    
    <div class="elementor-widget-wrap">
    <section class="sign_in">
    <div class="container">
        <div class="sign_info">
          <div class="row">
              <div class='col-lg-5'>
                  <h2 class="heading">Hello There</h2>
                <div class="form-wrap">
                    <form  action="{% url 'signup' %}" method='POST'>
                      {% csrf_token %}
                        <div required class="form-group text_box">
                            <label for="name" class="form-data">Name</label>
                            <input required type="text" class="form-control" id="name" name="name" placeholder="UserName" required>
                        </div>
                        <div required class="form-group text_box">
                            <label for="email" class="form-data">Email</label>
                            <input required type="email" class="form-control" id="email" name="email" placeholder="trana@gmail.com" required>
                         </div>
                        <div required class="form-group text_box">
                            <label for="password1" class="form-data">Password</label>
                            <input required type="password" class="form-control" id="password1" name="password1" placeholder="******" required>
                        </div>
                        <div required class="form-group text_box">
                            <label for="password2" class="form-data">Confirm Password</label>
                            <input required type="password" class="form-control" id="password2" name="password2" placeholder="******" required>
                        </div>
                            <input type="submit" value="Register" />
                       
                         
                    </form>
                    </div>
              </div>
              <div class='col-lg-7'>
                <div class="img-signup" style="background-image: url(../static/images/signup.png);">
                </div>
                <h3 class="sub-heading">Already have an account?</h3>
                <p><a href="{% url 'login'%}"><button class="secondary">Sign In</button></a></p>
            </div>
          </div>  
        </div>
    </div>
    </section>
    </div>
    {% endblock body %}