{% extends 'base.html' %}

{% block title%}Signup{% endblock title %}<div class="modal-body">
    
    {% block body%}
    <div class="container">
    <form  action="{% url 'signup' %}" method='POST'>
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="username" placeholder="Enter Name">
      </div>
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="authority">Authority</label>
            <input type="radio" class="form-control" id="authority" name="position" value="authority">
        
            <label for="pharmacist">Pharmacist</label>
            <input type="radio" class="form-control" id="pharmacist" name="position" value="pharmacist">
            </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" style="background:#EE4266">SUBMIT</button>
          </div>
    </form>
    </div>
    {% endblock body%}