{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="Stylesheet" href="{% static 'css/user.css' %}">
{% endblock css %}
{% block style %}

{% endblock style %}

{% block body %}

<!--
              -------------------------------DISPLAY TAB ICONS------------------------------
-->
<div class="tab">
  <div class="homebutton">
    <button id="home" class="tablinks active" onclick="openTab(event, 'Home')"><i class="fa fa-home" aria-hidden="true"></i></button>
  </div>
  <div class="notifbutton">
    <button id="notif" class="tablinks" onclick="openTab(event, 'Notifications')"><i class="fa fa-bell-o" aria-hidden="true"></i></button>
  </div>
  <div class="reportsbutton">
    <button id-"reports" class="tablinks" onclick="openTab(event, 'Reports')"><i class="fa fa-exclamation" aria-hidden="true"></i></button>
  </div>
  <div class="medicinesbutton">
    <button id="medicines" class="tablinks" onclick="openTab(event, 'Medicines')"><i class="fa fa-medkit" aria-hidden="true"></i></button>
  </div>
</div>
<div class="body">
<div id="Home" class="tabcontent" style="display: block;">
  <h3>Home</h3>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus facilis quos, rem nihil nisi mollitia velit nobis necessitatibus pariatur recusandae.
      
    <div style="text-align:center;">
      <div class="reportcondition">
        <button class="tablinks purple-sec" onclick="openTab(event, 'ReportsForm')">Report Condition</button>
      </div>
    <div class="ordermed">
      <button class="tablinks green-sec" onclick="openTab(event, 'MedicinesForm')">Order Medicines</button>
    </div>
    </div>
  </p>
</div>

<!--
              -------------------------------NOTIFICATIONS------------------------------
-->

<div id="Notifications" class="tabcontent">
  <h3>Notifications</h3>
  <p>No new notifications.</p> 
</div>


<!--
              -------------------------------MY REPORTS------------------------------
-->

<div id="Reports" class="tabcontent">
  <h3>Reports</h3>
  <div class="accordion" id="accordionExample">
    
  {% for report in reports %}
    <div class="card" style="text-transform: capitalize">
      <div class="card-header" id="headingOne">
          <div class="report-heading">
            {{ report|get_item:'case' }}
          </div>
          {% if report|get_item:'resolved' %}
            <div class="status resolved">
            Resolved
          </div>
            {% else %}
            <div class="status">
            Not resolved
          </div>
            {% endif %}
          
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{report|get_item:'id'}}" aria-expanded="false" aria-controls="a{{report|get_item:'id'}}">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </button>

      </div>
  
      <div id="a{{report|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
        {% for key, value in report.items %}
        {% if key != 'id' and key != 'description' and key != 'location' %}
        <div><b>{{key}}:</b> {{value}}</div>
        {% endif %}
        {% endfor %}  
        {% if report|get_item:'description' %}
        {{ report|get_item:'description' }}
        {% else %}
        No description provided.
        {% endif %}  
        </div>
      </div>
    </div>
  {% endfor %}

  </div>
</div>


<!--
              -------------------------------MY MEDICINES------------------------------
-->

<div id="Medicines" class="tabcontent">
    <h3>Medicines</h3>
    <div class="accordion" id="accordionExample">
      
    {% for med in meds %}
      <div class="card" style="text-transform: capitalize">
        <div class="card-header" id="headingOne">
            <div class="report-heading">
              {{ med|get_item:'medicine' }}
            </div>
            {% if med|get_item:'resolved' %}
              <div class="status resolved">
              Resolved
            </div>
              {% else %}
              <div class="status">
              Not resolved
            </div>
              {% endif %}
            
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{med|get_item:'id'}}" aria-expanded="false" aria-controls="a{{med|get_item:'id'}}">
              <ion-icon name="chevron-down-outline"></ion-icon>
            </button>
  
        </div>
    
        <div id="a{{med|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">

                {% for key, value in med.items %}
                {% if key != 'id' and key != 'description' and key != 'url' and key != 'location' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                {% if med|get_item:'description' %}
                {{ med|get_item:'description' }}
                {% else %}
                No description provided.
                {% endif %}      
              </div>
              <div class="col-md-6">
                {% if med|get_item:'url' %}
                <img style="width: inherit;" src="{{med|get_item:'url'}}">
                {% endif %} 
              </div>
            </div>       
            </div>
        </div>
      </div>
    {% endfor %}
  
    </div>
  </div>

  <!--
              -------------------------------ORDER MEDICINES------------------------------
-->
  
<div id="MedicinesForm" class="tabcontent">
  <div class="elementor-widget-wrap">
      <div class="container">
        <div class="sign_info" style="padding: 20px 0.5em!important;">
          <div class="row">
            <div class='col-lg-2'></div>
            <div class='col-lg-8'>
              <h2 class="heading">Order Medicine</h2>
                <div class="form-wrap" style="padding: 0px;">
                    <form  action="{% url 'medicine' %}" method='POST'>
                      {% csrf_token %}

                      <div class="row">
                      <div class="col-md-12">
                        <div class="form-group text_box">
                          <label for="medicine" class="form-data" >Medicine*</label>
                          <input required type="text" class="form-control" id="medicine" name="medicine" placeholder="Medicine">
                        </div>
                        </div>
                      </div>

                        <div class="row">
                          <div class="col-md-6">
                          <div class="form-group text_box">
                                <label for="address" class="form-data">Address*</label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                          </div>
                          </div>
                        
                          <div class="col-md-6">
                          <div class="form-group text_box">
                            <label for="area" class="form-data">Area*</label>
                            <input required type="text" class="form-control" id="area" name="area" placeholder="Area">
                          </div>
                          </div>
                        </div>

                        <div class="row">
                          
                          <div class=" col-md-4">
                            <div class="form-group text-box">
                              <label for="gender" class="form-data">Gender*</label>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="male" name="gender" value="male" />
                                <label for="male"  class="form-data">Male</label>
                              </div>
                              <div class="form-check">
                                <input type="radio" class="form-check-input" id="female" name="gender" value="female" />
                                <label for="female"  class="form-data">Female</label>
                              </div>
                            </div>
                            </div>

                          <div class="col-md-4">
                          <div class="form-group text_box">
                            <label for="age" class="form-data">Age*</label>
                            <input type="text" class="form-control" id="age" name="age" placeholder="Age">
                          </div>
                          </div>

                          <div class="col-md-4">
                            <div class="form-group text_box">
                                <label for="contact" class="form-data">Contact*</label>
                                <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Details">
                            </div>
                          </div>
                          
                        </div>

                        <div class="row">
                          <div class="col-md-8">
                              <div class="form-group text_box">
                                <label for="prescription" class="form-data" >Upload prescription*</label>
                                <input required type="file" class="form-data" id="files" name="files[]" >
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group text_box">
                              <button type="button" id="upload" class="form-data" onclick="uploadimage()">Upload</button>
                              </div>
                            </div>
                            <input type="hidden" name="url" id="url">
                        </div>

                        <div class="row">

                          <div class="col-md-6">
                          <div class="form-group text-box">
                            <label for="doctor" class="form-data">Doctor</label>
                            <input required type="text" class="form-control" id="doctor" name="doctor" placeholder="Name of Doctor">
                          </div>
                          </div>

                          <div class="col-md-6">
                          <div class="form-group text_box">
                            <label for="hospital" class="form-data">Name of hosptial/clinic</label>
                            <input required type="text" class="form-control" id="hospital" name="hospital" placeholder="Name of Hospital">
                          </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group text_box">
                              <label for="treatment" class="form-data">Treatment</label>
                            <input type="text" class="form-data" id="treatment" name="treatment" placeholder="Any kind of Special Treatment">
                            </div>
                          </div> 
                        </div>  

                        <div class="row">
                          <div class="col-md-12">
                          <div class="form-group text_box">
                            <label for="info" class="form-data">Description</label>
                            <textarea rows="4" cols="72" name="info" form="report"></textarea>
                          </div>
                          </div>
                        </div>   

                       
                              
                        <div class="form-group">
                        <input type="hidden" id="lat" name="lat">
                          <input type="hidden" id="lon" name="lon">
                        </div>
                        

                        <div style="text-align:center">
                        <input type="submit" value="Send">
                        </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

<!--
              -------------------------------REPORT CONDITION------------------------------
-->
  
<div id="ReportsForm" class="tabcontent">
  <div class="elementor-widget-wrap">
      <div class="container">
        <div class="sign_info" style="padding: 20px 0.5em!important;">
          <div class="row">
            <div class='col-lg-2'></div>
            <div class='col-lg-8'>
              <h2 class="heading">Report Condition</h2>
                <div class="form-wrap" style="padding: 0px;">
                    <form  action="{% url 'condition' %}" method='POST'>
                      {% csrf_token %}
                      <div class="row">
                        <div class="col-md-12">
                        <div class="form-group text_box">
                          <label for="patient" class="form-data">Patient*</label>
                          <input required type="text" class="form-control" id="patient" name="patient" placeholder="Name of Patient">
                        </div>
                        </div>
                      </div>   

                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group text_box">
                            <label for="case" class="form-data">Case*</label>
                            <select name="case" id="case">
                              <option value="Accident">Accident</option>
                              <option value="pregnancy">Pregnancy</option>
                              <option value="terminal illness">Terminal Illness</option>
                              <option value="post operation">Post Opertion</option>
                              <option value="accident recovery">Accident Recovery</option>
                            </select>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group text_box">
                            <label for="condition" class="form-data">Condition*</label>
                            <select name="condition" id="condition">
                              <option value="critical">Critical</option>
                              <option value="urgent">Urgent</option>
                              <option value="informing">Informing</option>
                            </select>
                          </div>
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-md-6">
                        <div class="form-group text_box">
                              <label for="address" class="form-data">Address*</label>
                              <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                        </div>
                        </div>
                      
                        <div class="col-md-6">
                        <div class="form-group text_box">
                          <label for="area" class="form-data">Area*</label>
                          <input required type="text" class="form-control" id="area" name="area" placeholder="Area">
                        </div>
                        </div>
                      </div>

                      <div class="row">
                        
                        <div class=" col-md-4">
                          <div class="form-group text-box">
                            <label for="gender" class="form-data">Gender*</label>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="male" name="gender" value="male" />
                              <label for="male"  class="form-data">Male</label>
                            </div>
                            <div class="form-check">
                              <input type="radio" class="form-check-input" id="female" name="gender" value="female" />
                              <label for="female"  class="form-data">Female</label>
                            </div>
                          </div>
                          </div>

                        <div class="col-md-4">
                        <div class="form-group text_box">
                          <label for="age" class="form-data">Age*</label>
                          <input type="text" class="form-control" id="age" name="age" placeholder="Age">
                        </div>
                        </div>

                        <div class="col-md-4">
                          <div class="form-group text_box">
                              <label for="contact" class="form-data">Contact*</label>
                              <input type="text" class="form-control" id="contact" name="contact" placeholder="Contact Details">
                          </div>
                        </div>
                        
                      </div>

                      <div class="row">
                        <div class="col-md-4">
                        <div class="form-group text_box">
                          <label for="medicine" class="form-data" >Medicine</label>
                          <input required type="text" class="form-control" id="medicine" name="medicine" placeholder="Medicine">
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group text-box">
                          <label for="doctor" class="form-data">Doctor</label>
                          <input required type="text" class="form-control" id="doctor" name="doctor" placeholder="Name of Doctor">
                        </div>
                        </div>

                        <div class="col-md-4">
                        <div class="form-group text_box">
                          <label for="hospital" class="form-data">Name of hosptial/clinic</label>
                          <input required type="text" class="form-control" id="hospital" name="hospital" placeholder="Name of Hospital">
                        </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group text_box">
                            <label for="treatment" class="form-data">Treatment</label>
                          <input type="text" class="form-data" id="treatment" name="treatment" placeholder="Any kind of Special Treatment">
                          </div>
                        </div> 
                      </div>  

                      <div class="row">
                        <div class="col-md-12">
                        <div class="form-group text_box">
                          <label for="info" class="form-data">Description</label>
                          <textarea rows="4" cols="72" name="info" form="report"></textarea>
                        </div>
                        </div>
                      </div>   
                      <div class="form-group">
                       <input type="hidden" id="lat" name="lat">
                        <input type="hidden" id="lon" name="lon">
                      </div>
                      
                      <div style="text-align:center">
                      <input type="submit" value="Report Condition">
                      </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div><script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>

<script>
  //Getting the location saving it to the hidden field
  var lat = document.getElementById("lat");
  var lon = document.getElementById("lon");
  getLocation()
  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }
  
  function showPosition(position) {
    lat.value = position.coords.latitude;
    lon.value = position.coords.longitude;
    console.log(position.coords.latitude, position.coords.longitude);
  }
          



// Your web app's Firebase configuration
var firebaseConfig = {
  "apiKey": "AIzaSyBybJho0cdp9_nQzX_eT3arRl2jIHNgyU4",
  "authDomain": "tra1-bfac8.firebaseapp.com",
  "databaseURL": "https://tra1-bfac8.firebaseio.com",
  "projectId": "tra1-bfac8",
  "storageBucket": "tra1-bfac8.appspot.com",
  "messagingSenderId": "404257539306",
  "appId": "1:404257539306:web:5c266442fe78892bde0393",
  "measurementId": "G-1FLRML6GY5",
};
// Initialize Firebase
firebase.initializeApp(firebaseConfig);
firebase.analytics();

$("#upload_pres").click(function()
{
$(this).data('clicked', true);
});
if($("#upload_pres").data('clicked'))
{
alert('Prescription uploaded successfully');
}else{
alert('Kindly upload prescription');
}
//Uploading the Image
function uploadimage(){
    var storage = firebase.storage();
    var file = document.getElementById("files").files[0];
    var storageRef = storage.ref();
    var thisref = storageRef.child('presciptions/' + file.name).put(file);
    thisref.on('state_changed',function(snapshot){
    console.log("file uploaded succesfully");
    },
    function(error) {
      console.log(error);
    },
    function() {
    // Upload completed successfully, now we can get the download URL
    var downloadURL = thisref.snapshot.downloadURL;
    console.log("got url");
    document.getElementById("url").value = downloadURL;
    alert("file uploaded successfully");
  });


      }


</script>
</div>

</body>

{% endblock body %}

{% block script %}
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += " active";
}


{% endblock script %}

