* {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: #273b5e;
  margin: 0;
  padding: 0;
}
body {
  background: #f7fdfd;
  overflow-x: hidden;
}
.appname {
  height: 50px;
}
a {
  text-decoration: none;
  box-shadow: none;
}
nav {
  padding: 1em 0;
  position: fixed;
  z-index: 3 !important;
  width: 100%;
  text-align: center;
}
.appname {
  font-size: 40px;
  margin: auto 20px;
}
button {
  border: none;
  padding: 10px 35px;
  margin: 0 10px;
  border-radius: 0.4em;
}
.primary {
  color: #fff;
  background: #5e2ced;
}
.secondary {
  color: #5e2ced;
  background: rgba(255, 255, 255, 0);
  border: #5e2ced 1.8px solid;
}
.page {
  font-weight: 700;
  margin: 20px !important;
  text-decoration: none;
  color: #273b5e;
}
.page:hover {
  color: #5e2ced;
  text-decoration: none;
}
.nav-item {
  padding: 5px 0;
}
.current {
  color: #5e2ced;
}
.scrolled,
.card {
  background-color: #fff !important;
  transition: background-color 0.2s linear;
  box-shadow: 0 4px 6px 0 rgba(12, 0, 46, 0.06);
}
.show {
  background-color: #fff !important;
  transition: all 0.02s linear;
}
button {
  font-weight: 600;
  margin: 10px;
}
button:focus {
  outline: none;
  transition: background 0.2s;
}
.body {
  padding: 10vh 0;
}

.green-sec {
  color: #00c99b;
  background: #d5f6ef;
}
.green-sec:hover {
  color: #fff;
  background: #00c99b;
}

button:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
}

.purple-sec {
  color: #5e2ced;
  background: #e7e1fb;
}
.purple-sec:hover {
  color: #fff;
  background: #5e2ced;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fbfbfd;
}
.sign_in {
  height: 100%;
  padding: 120px 0;
}
.container {
  max-width: 1200px;
  box-sizing: border-box;
  height: 100%;
}
.sign_info {
  border: 20px solid #fff;
  background: #f1f1f1ad;
  padding: 80px 50px;
  height: 100%;
  margin-bottom: 25px;
}
.heading {
  margin-bottom: 40px;
  color: #222d39;
  padding-left: 30px;
  font-weight: 600;
  font-size: 35px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  height: 80%;
}

.form-wrap {
  padding-left: 20px;
}

.text_box {
  margin-bottom: 25px;
}

.form-data {
  color: #161341;
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 500;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
.form-control {
  font: 400 15px/60px "Quicksand", sans-serif;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
.form-control:focus {
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-check {
  position: relative;
  display: inline;
  padding-left: 1.25rem;
  margin-left: 10px;
}
select {
  font: 400 15px/60px "Quicksand", sans-serif;
  color: #222d39;
  height: 60px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(12, 0, 46, 0.04);
  width: 100%;
  border: 1px solid #fff;
  padding-left: 30px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
select:focus {
  box-shadow: 0 10px 14px 0 rgba(12, 0, 46, 0.06);
  border-color: #f2effc;
  outline: 0;
}
.img-signup {
  width: auto;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.img-login {
  width: auto;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.new_account {
  font: 400 15px/26px "Poppins", sans-serif;
  color: #9ca3b9;
  margin-top: 20px;
}

.signup-link {
  color: #5e2ced;
  display: inline-block;
  margin-left: 6px;
}

input[type="submit"],
input[type="button"] {
  font: 500 14px "Quicksand", sans-serif;
  background: #5e2ced;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 0.5em;
  width: 150px;
}

input[type="submit"]:hover {
  transition: 0.6s;
}

.form-check br {
  display: none;
}

@media only screen and (max-width: 768px) {
  .login-container {
    display: block !important;
    text-align: center;
  }
  .form-wrap {
    padding: 0;
  }
  .forgot {
    display: block;
  }
  .img-login,
  img-signup {
    display: none;
  }
  .sign_in {
    padding: 12vh 0 0 0;
  }
  .sign_info {
    padding: 30px 10px 10px 10px;
  }
  .login {
    margin-bottom: 10px;
  }
  .form-check br {
    display: block;
  }
  .checkboxes {
    margin-bottom: 0;
  }
  .register,
  .second {
    text-align: center !important;
  }
  .img-signup {
    display: none;
  }
  .second {
    margin-top: 20px;
  }
}
.new_footer{
  
  margin-top:100px;
  background: #5e2ced;
  overflow: hidden;
}
.new_footer_top{
  height:150px;
  padding: 120px 0 270px;
  position: relative;
  box-sizing: border-box;
}
.container_new{
  box-sizing: border-box;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row_nav{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
#text_1{
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;

}
#col-id-1{
 
  flex: 0 0 25%;
  max-width: 25%;
}
.title{
  font: 600 24px "Quicksand", sans-serif;
  margin-bottom: 30px;
  color: #FFFFFF;
 
}
.nav_1{
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}
#list_item{
  font: 400 16px "Quicksand", sans-serif;
  margin-bottom: 6px;
  color: #FFFFFF;
  padding:8px 16px 8px 0;
}
