{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="Stylesheet" href="{% static 'css/user.css' %}">
{% endblock css %}
{% block style %}

{% endblock style %}
.body {
  background: #fbfbfd;
  padding: 23vh 5vw;
}
{% block body %}


    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-analytics.js"></script>
    <div class="tab">
        <div class="pending">
            <a href="{% url 'pending' %}"><button id="pending"class="tablinks"><i class="zmdi zmdi-hc-lg zmdi-assignment-alert"></i></button></a>
        </div>
        <div class="approved">
            <a href="{% url 'approved' %}"><button id="approved" class="tablinks"><i class="zmdi zmdi-hc-lg zmdi-accounts"></i></button></a>
        </div>
        <div class="statistics">
            <a href="{% url 'statistics' %}"><button id="stats" class="tablinks"><i class="zmdi zmdi-hc-lg zmdi-chart"></i></button></a>
        </div>
    </div>
    <div class="body">
        <h1 class="mt-3 mb-4">All Users</h1>
        <div id="Doctors" class="my-4">
            <h3>Doctors<span style="font-size: 85%;"> ( {{doctors|length}} )</span></h3>
            <div class="accordion" id="accordionExample">
            
            {% for dr in doctors %}
            <div class="card" style="text-transform: capitalize">
                <div class="card-header" id="headingOne">
                    <div class="report-heading">
                    {{ dr|get_item:'email' }}
                    </div>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{dr|get_item:'id'}}" aria-expanded="false" aria-controls="a{{dr|get_item:'id'}}">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
        
                </div>
            
                <div id="a{{dr|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                {% for key, value in dr.items %}
                {% if key != 'id' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                </div>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </div>
        <div class="mt-5" id="Authys">
            <h3>Authorites<span style="font-size: 85%;"> ( {{authys|length}} )</span></h3>
            <div class="accordion" id="accordionEx">
            
            {% for a in authys %}
            <div class="card" style="text-transform: capitalize">
                <div class="card-header" id="headingOne">
                    <div class="report-heading">
                    {{ a|get_item:'email' }}
                    </div>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{a|get_item:'id'}}" aria-expanded="false" aria-controls="a{{a|get_item:'id'}}">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
        
                </div>
            
                <div id="a{{a|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionEx">
                <div class="card-body">
                {% for key, value in a.items %}
                {% if key != 'id' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                </div>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </div>
        <div id="Pharmas"class="mt-5">
            <h3>Pharmacists<span style="font-size: 85%;"> ( {{pharmas|length}} )</span></h3>
            <div class="accordion" id="accordion3">
            
            {% for pharma in pharmas %}
            <div class="card" style="text-transform: capitalize">
                <div class="card-header" id="headingOne">
                    <div class="report-heading">
                    {{ pharma|get_item:'email' }}
                    </div>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{pharma|get_item:'id'}}" aria-expanded="false" aria-controls="a{{pharma|get_item:'id'}}">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
        
                </div>
            
                <div id="a{{pharma|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion3">
                <div class="card-body">
                {% for key, value in pharma.items %}
                {% if key != 'id' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                </div>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </div>
        <div id="Users"class="mt-5">
            <h3>Users<span style="font-size: 85%;"> ( {{users|length}} )</span></h3>
            <div class="accordion" id="accordion4">
            
            {% for user in users %}
            <div class="card" style="text-transform: capitalize">
                <div class="card-header" id="headingOne">
                    <div class="report-heading">
                    {{ user|get_item:'email' }}
                    </div>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{user|get_item:'id'}}" aria-expanded="false" aria-controls="a{{user|get_item:'id'}}">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
        
                </div>
            
                <div id="a{{user|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion4">
                <div class="card-body">
                {% for key, value in user.items %}
                {% if key != 'id' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                </div>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </div>
        <div id="Admins"class="mt-5">
            <h3>Admins<span style="font-size: 85%;"> ( {{admins|length}} )</span></h3>
            <div class="accordion" id="accordion5">
            
            {% for admin in admins %}
            <div class="card" style="text-transform: capitalize">
                <div class="card-header" id="headingOne">
                    <div class="report-heading">
                    {{ admin|get_item:'email' }}
                    </div>
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#a{{admin|get_item:'id'}}" aria-expanded="false" aria-controls="a{{admin|get_item:'id'}}">
                    <ion-icon name="chevron-down-outline"></ion-icon>
                    </button>
        
                </div>
            
                <div id="a{{admin|get_item:'id'}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion5">
                <div class="card-body">
                {% for key, value in admin.items %}
                {% if key != 'id' %}
                <div><b>{{key}}:</b> {{value}}</div>
                {% endif %}
                {% endfor %}  
                </div>
                </div>
            </div>
            {% endfor %}
        
            </div>
        </div>
    </div>
{% endblock body %}