{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />

<link rel='icon' href="{% static 'images/trana logo.png' %}" type='image/x-icon'/ >
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;515;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>



    <title>{% block title%}{% endblock title %} Trana - Help us to help you</title>
    {% block css %}
    {% endblock css %}
    <style>
    .img-signup {
      background-image:url("{% static 'images/signup.png' %}");
    }
    .img-login {
      background-image:url("{% static 'images/login.png' %}");
    }
    {% if title == "users" %}
    @media only screen and (max-width: 768px) {
      #text_1 {
        bottom: 50px !important;
      }
    }
    
    @media only screen and (min-width: 768px) {
      #text_1 {
        left: 70px !important;
      }
      .bg_image {
        width: auto!important;
        height: 200px;
      }
    }
    {% endif %}
      {% block style %}
      {% endblock style %}
    </style>
    <script src="{% static 'js/base.js' %}"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <meta property="og:site_name" content="Trana.live"/>
    <meta property="og:title" content="Trana - Help us help you"/>
    <meta property="og:description" content="Although we are taking immense care of the COVID-19 patients and avoid it's spread, We do not want to neglect your illness, medical issues & problems. Hence we are here for you!"/>
    <meta property="og:image" content="{% static 'images/trana logo 2.png' %}">
    <meta property="og:url" content="https://www.trana.live/">
  </head>
  <body>
    <nav class="nav navbar fixed-top navbar-expand-lg navbar-light">
      <div class="container">
        <div class="nav-left">
          <a href="{% url 'users' %}">
          <div>
            <img class="appname" src="{% static 'images/trana logo 2.png' %}" alt="" />
          </div>
          </a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto pages">
              <li class="nav-item">
            <a class="page
            {% if title == "landing" %}
            current
            {% endif %}
            " href="{% url 'landing' %}">Home</a>
              </li>
              <li class="nav-item">
            <a class="page
            {% if title == "motivation" %}
            current
            {% endif %}
            " href="{% url 'motivation' %}">Motivation</a>
              </li>
              
              <li class="nav-item">
            <a class="page
            {% if title == "services" %}
            current
            {% endif %}
            " href="{% url 'services' %}">Services</a>
              </li>
              
          <li class="nav-item">
            <a class="page" href="https://blog.trana.live/" target="blank">Blog</a>
          </li>
              <li class="nav-item">
            <a class="page
            {% if title == "about" %}
            current
            {% endif %}
            " href="{% url 'about' %}">About</a>
              </li>
              
              

          <!--<li class="nav-item">
            <a class="page" href="">About</a>
          </li>

          <li class="nav-item">
            <a class="page" href="">Contact</a>
          </li>-->
        </ul>
        <div class="controls">

      {% if title == "login" or title == "signup" or title == "landing" or title == "reset" or title == "verify" or title == "details" or title == "services" or title == "about" or title == "motivation" or title == "faq" or title == "contact" or title == "team" %}
            <a href="{% url 'login' %}">
            <button class="secondary">
            Login
            </button>
            </a>
      {% else %}
      <a href="{% url 'logout' %}">
            <button class="secondary">
            Logout
            </button>
      {% endif %}
            </button>
          </a>
        </div>
        </div>
        </div>
      </div>
    </nav>
    

    {% block body%}{% endblock body%}
        </div>

    </div>
    <footer class="new_footer">
      <div class="new_footer_top">
        <div class="container_new">
            <div id="text_1" class="col-lg-3">
              <img class="bg_image" src="{% static 'images/street.svg' %}" alt="" />
            </div>
          <div class="row_nav">
          <div class="col-lg-3"></div>
            <div id="col_id_1" class="col-lg-3">
              <h3 class="title">User Guide</h3>
              <ul class="nav_1">
                <a href="{% url 'faq' %}"><li id="list_item">FAQ</li></a>
                
              </ul>
            </div> 
            <div id="col_id_1" class="col-lg-3">
              <h3 class="title">Team Members</h3>
              <ul class="nav_1">
                <a href="{% url 'team' %}"><li id="list_item">Our Team</li></a>
              </ul>
            </div> 
            <div id="col_id_1" class="col-lg-3">
              <h3 class="title">Contact Us</h3>
              <ul class="nav_1">
                <a href="{% url 'contact' %}"><li id="list_item">Form</li></a>
              </ul>
            </div> 
          </div>
        </div>
        
      </div> 
    </footer>
  </body>
 
  <script>
  {% block script %}
  {% endblock script %}
  </script>
</html>






  </body>

</html>