{% extends 'base.html' %}{% load static %}
{% block body %}
    <div style="text-align: center; margin: 25vh 5vh" class ="body">
        <form action ="">
            <h3>
               Forgot password? 
            </h3>
            <div>
                <p style="font-size: smaller;">
                    Please enter your email address below and we will send an email to change your password.
                </p>
            </div>
            <div class ="form-wrapper">
                <input style="max-width: 700px; margin: auto;" id = 'email' type = 'email' placeholder = "Email address" class= 'form-control'>
            </div>
            <div class="form-group container-login100-form-btn">
                <button class="primary" id='btn-resetPassword' type='button'>
                    Send Reset Link
                    <i style="color: white;" class = 'zmdi zmdi-arrow-right'></i>
                </button>
    
            </div>
        </form>
        <form style="display: none;" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <button name="reset" type="submit" id="login"></button>

        </form>
        
    </div><script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>


    <script>
      var firebaseConfig = {
    apiKey: "AIzaSyBybJho0cdp9_nQzX_eT3arRl2jIHNgyU4",
    authDomain: "tra1-bfac8.firebaseapp.com",
    databaseURL: "https://tra1-bfac8.firebaseio.com",
    projectId: "tra1-bfac8",
    storageBucket: "tra1-bfac8.appspot.com",
    messagingSenderId: "404257539306",
    appId: "1:404257539306:web:5c266442fe78892bde0393",
    measurementId: "G-1FLRML6GY5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
        firebase.auth().onAuthStateChanged(function(user){
            if (user){
                window.location.href = "to the main page"
            }
        });

        
$("#btn-resetPassword").click(function () {
  var auth = firebase.auth();
  var email = $("#email").val();
  if (email != "") {
    auth
      .sendPasswordResetEmail(email)
      .then(function () {
        window.alert("The email has been sent. Please check your mail box!");
        document.getElementById("login").click();
      })
      .catch(function () {
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(errorCode);
        console.log(errorMessage);
        window.alert("Message : " + errorMessage);
      });
  } else {
    window.alert("Please enter email first");
  }
});
    </script>
{% endblock body %}