{% extends 'base.html' %}

{% block title%}Get Report{% endblock title %}
    
{% block body%}
<style>
    .table {
        padding: 0 20px;
      }
      .table-container {
        overflow-x: hidden;
        max-height: 60vh;
      }
</style>
<p><h3 style="text-align:center;">Report Details</h3></p> 
{% for report in reports_list %} 
<div class="table-container">
    <table class="table table-bordered" id="my-table">
    <thead>
        <tr>
            {% for key,value in report.items %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="myTable">
        <tr>
            {% for key,value in report.items %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
    </tbody>
    </table>
    {% endfor %}
</div>
{% endblock %}