{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock css %}
{% block body %}
  <div cass="body">
          <div class="hero">
            <div class="message">
              <div class="heading">Protecting Non-Covid Patients too</div>
              <div>
                Although we are taking immense care of the COVID-19 patients and avoid it's spread,<br>We do not want to neglect your illness, medical issues & problems. Hence we are here for you!
              </div>
            </div>
            <div class="image">
            <!--
              <img
                class="hero-image"
                src="{% static 'images/hero-2.png' %}"
                alt=""
              />
              -->
            </div>
            <a href="{% url 'signup' %}"><button class="purple-sec">Get Started</button></a>
            <a href="{% url 'about' %}"><button class="green-sec">Learn More</button></a>
          </div>

        <div class="hero">
            <div class="heading">How we can help</div>
            <div class="desc">
                    In order to let us help you, we will need certain information. Tell us about your problems. How are you feeling?
                    Tell us if you need any medicines! We will try an arrange everything for you. We understand how important it is to be
                    heard in such times. We are here for you!
            </div>
        </div>

      <div class="col-md-2"></div>
    <div class="cards-container" style="text-align: center">
      <div class="cards row">
        <div class="card col-lg-3">
          <img class="icon purple" src="../static/images/alert-circle-outline.png"></img>
          <div class="heading-3">
            Report Conditions
          </div>
          <div class="desc-3">
             Simply report your condition to the authorities. Give as much details about your condition possible. Help other people
             who are unable to upload details.
          </div>
        </div>
        <div class="card col-lg-3">

          <img class="icon purple" src="../static/images/med.png"></img>
          <div class="heading-3">
            Order Medicines
          </div>
          <div class="desc-3">
            In this lockdown, everything is shut! Some Pharmacies might or might not have what you need! We can directly send your request
            to the nearby pharmacy. We'll notify once they have it.

          </div>
        </div>
        <div class="card col-lg-3">
         <img class="icon purple" src="../static/images/chat.png"></img>
         <div class="heading-3">
           Chat with a doctor
         </div>
         <div class="desc-3">
         Cough! Cough! Feeling feverish? Feeling even more feverish thinking it might be COVID-19? Dont feel like going to the doctor?
         You can chat with our registered doctors who will help you to diagnose the problem.
         </div>
        </div>
        </div>
        </div>

        {% endblock body %}
