{% extends 'base.html' %}
{% load static %}
{% block title%}Login{% endblock title %}<div class="modal-body">

    {% block body%}

    <div class="elementor-widget-wrap">
        <section class="sign_in">
        <div class="container">
            <div class="sign_info">
                <div class="row">
                    <div class='col-lg-7'>
                        <h2 class="heading" style="font-size:30px;">Welcome back!</h2>
                        <div class="form-wrap">
                            <form  action="" method='POST'>
                            {% csrf_token %}
                                <div required class="form-group text_box">
                                    <label for="email" class="form-data">Email</label>
                                    <input type="email" required type="email" class="form-control {% if messages %}is-invalid{% endif %}" oninput="myFunction()" id="email" name="email" placeholder="trana@gmail.com">
                                </div>
                                <div required class="form-group text_box">
                                    <label for="password" class="form-data">Password</label>
                                    <input type="password" class="form-control {% if messages %}is-invalid{% endif %}" oninput="myFunction()" id="password" name="password" placeholder="******">
                                </div>

                                {% for message in messages %}
                                <p id="passwordHelp" class="text-danger">
                                    {{message}}
                                </p>
                                {% endfor %}
                                <div class="login-container" style="display: flex; justify-content: space-between;">
                                    <input class="login" required type="submit" value="Login"/>
                                    <a class="forgot" style="color: #5e2ced" href="{% url 'reset' %}">
                                        Forgot Password?
                                    </a>
                                </div>
                            </form>
                            <div class="new_account">Don't have an account?
                                            <a style="color: #5e2ced" href="{% url 'signup' %}">
                                                Get started
                                            </a>
                            </div>
                        </div>
                    </div>
                    <div class='col-lg-5'>
                        <div class="img-login"  style="background-image: url({% static '/images/docs.svg' %});">

                    </div>
                </div>

            </div>

        </div>
    </section>
    </div>
    <script>
    {% if position == "user" %}
    location.replace("https://www.trana.live/users");
    {% elif position == "pharmacist" %}
    location.replace("https://www.trana.live/medicines");
    {% elif position == "authority" %}
    location.replace("https://www.trana.live/reports");
    {% elif position == "doctor" %}
    location.replace("https://www.trana.live/reports");
    {% endif %}
        function myFunction() {
            var x = document.getElementById("email");
            var y = document.getElementById("password");
            x.classList.remove("is-invalid");
            y.classList.remove("is-invalid");
        }
    </script>
    {% endblock body %}

