{% extends 'base.html' %} {% block body %}
<style>
  .body {
    margin: 15vh 15vw;
    margin-bottom: 5vh;
    padding-bottom: 0;
  }

  h2 {
    text-align: center;
    font-style: italic;
    font-size: smaller;
  }
  p {
    font-size: 19px;
    word-spacing: 3px;
    margin-bottom: 2rem;
  }
  blockquote {
    border: none;
    font-family: Georgia, serif;
    margin-bottom: -30px;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote h3 {
    text-align: end;
    font-weight: 700;
    font-style: italic;
  }

  blockquote:before {
    content: open-quote;
    font-weight: bold;
    font-size: 100px;
    color: #5e2ced;
    font-family: serif;
  }
  blockquote h3:after {
    content: close-quote;
    font-weight: bold;
    font-size: 100px;
    color: #5e2ced;
    font-family: serif;
  }
  .content {
    text-align: center;
    font-size: 30px;
    margin-bottom: 3em;
  }
  h1 {
    text-align: center;
    margin: 0 0 2em 0;
  }
  .pri {
    color: #5e2ced;
    font-weight: 700;
    display: inline;
  }
</style>
<div class="body">
  <h1>Motivation</h1>
  <i><p>A little selflessly</p></i>
  <p>
    Thinking about helping is great but have you ever had this heartfelt feeling
    to actually do some good for those who’re not as privileged as you?
  </p>
  <p>
    In a time struck like this there’s an immense need to look above ourselves
    too. The unprivileged unconditionally suffer in the society whether a
    pandemic or not. With put initiative we’re ready to help all those in needs
    you can be a support too if you just make us aware about those. Tough times
    call for us to see our contribution in the situation. We do are full filled
    but little do we wonder about those who are not as equipped as we are.
  </p>
  <p>
    <div class="pri">Trana.live</div>  needs just one update from those who seek help to be readily
    available but maybe the unprivileged sector won’t be equipped to seek for
    the help too. It’s your stand there, you can make the move to update their
    problem, share their problem with us so that we come across with a help kit.
    Let’s not forget this world is our opportunity to show how capable and
    dedicated we are for the good of our fellow mates here. It does get tough
    sometimes, but the bliss after helping just compensates it. Somewhere inside
    our heart we have an empty place which needs to be filled with this bliss.
    But not always do we have an opportunity at that time to get to that, but
    this time you do.
  </p>
  <p>
    The study estimates that 5 million people die every year because of
    poor-quality health care in low- and middle-income countries. That's
    significantly more than the 3.6 million people in those countries who die
    from not having access to care. Not timely reporting of health issues,
    ignorance of symptoms, unawareness about one’s health and not being able to
    access the proper health needs account the most to this issue. Sometimes it
    may be turned as a society reality when the poor aren’t available to seek
    the help but the actual reality is, we, being very well equipped also don’t
    choose to look for a solution for those we share a common world with.
  </p>
  <p>
    By updating the issue along with the right details on our mobile web
    solution trana.live you can accompany us in helping the people round the
    world in a situation like this. All you have to is just make us aware of the
    place and situation where a person needs help, we’ll look for the right
    solutions and consultations to be available for help.
  </p>
  <blockquote>
    <h3>
      <div style="display: inline-block;" class="content">
        It’s very little of an effort that needs to be done with a good
        intention but it sure needs the good intentions at the best.
      </div>
    </h3>
  </blockquote>
</div>
{% endblock body %}
